.App {
  text-align: center;
}

.App-header {
  background-color: #0d244a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button-style{
  background-color: #18376b;
  border-color: #162947;
  margin: 5px;
  font-size: calc(5px + 1vmin);
  color: white;
}

.inSystem{
  color: darkgreen;
}

.outSystem{
  color: darkred;
}

